@use './variables' as *;

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 0;
  height: 100vh;
  min-height: 0;
  background: #f5f6fa;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: $font-size-base;
  color: $primary-color;
}

// 保证所有元素都继承box-sizing，避免抖动
*, *::before, *::after {
  box-sizing: inherit;
}

// 响应式自适应只调整字体，不对body加padding！
@media (max-width: 600px) {
  html { font-size: 90%; }
}

@media (min-width: 601px) and (max-width: 1200px) {
  html { font-size: 100%; }
}

@media (min-width: 1201px) {
  html { font-size: 110%; }
}
